<h1 class="productTitle">My account</h1> 
<div id="site-container"> 

<!-- Left Panel Start -->
<div id="site-full"> 
<div style="width: 570px; float: left;"> 
  
   
  
  <div class="acc_pad2">
	<div class="acc_title">Payment History</div>
      <div class="acc_hist_bg2">
	  	  <div style="position:relative;">
		<div style="position:absolute; top:6px; left:0px; width:100px; text-align:center; font-size:11px; font-color#000000; font-weight:bold;"><center>Date</center></div>
		<div style="position:absolute; top:6px; left:100px; width:350px; text-align:left; font-size:11px; font-color#000000; font-weight:bold;"><center>Description</center></div>
		<div style="position:absolute; top:6px; left:450px; width:150px; text-align:left; font-size:11px; font-color#000000; font-weight:bold;"><center>Pay Method</center></div>
		<div style="position:absolute; top:6px; left:600px; width:119px; text-align:left; font-size:11px; font-color#000000; font-weight:bold;"><center>Ammount</center></div>
	  </div>
	  	  </div>
      	  <div class="acc_hist_bg3">		
		<table cellpadding="0" cellspacing="0" width="719px">
		<tbody>
                  <tr>
			<td style="border-right:1px solid;  border-color:#E3E3E3; border-left:1px solid; border-color:#E3E3E3;" height="21" width="100px" align="center">
                          2007-04-25
                        </td>
                        <td style="border-right:1px solid;  border-color:#E3E3E3;" width="350px">
                          <font style="margin-left:10px;">One V.I.P. Month</font>
                        </td>
			<td style="border-right:1px solid;  border-color:#E3E3E3;" width="150px">
                          <font style="margin-left:10px;"><a href="http://www.paypal.com/" target="_blank" style="color:#000000; text-decoration:none;">PayPal</a></font>
                        </td>
			<td style="border-right:1px solid;  border-color:#E3E3E3;" width="119">
                          <font style="margin-left:10px;">USD 11.99</font>
                        </td>			
		</tr>
                <tr>
			<td style="border-right:1px solid;  border-color:#E3E3E3; border-left:1px solid; border-color:#E3E3E3;" height="21" width="100px" align="center">
                          2007-04-25
                        </td>
                        <td style="border-right:1px solid;  border-color:#E3E3E3;" width="350px">
                          <font style="margin-left:10px;">One V.I.P. Month</font>
                        </td>
			<td style="border-right:1px solid;  border-color:#E3E3E3;" width="150px">
                          <font style="margin-left:10px;"><a href="http://www.paypal.com/" target="_blank" style="color:#000000; text-decoration:none;">PayPal</a></font>
                        </td>
			<td style="border-right:1px solid;  border-color:#E3E3E3;" width="119">
                          <font style="margin-left:10px;">USD 11.99</font>
                        </td>			
		</tr>
                <tr>
			<td style="border-right:1px solid;  border-color:#E3E3E3; border-left:1px solid; border-color:#E3E3E3;" height="21" width="100px" align="center">
                          2007-04-25
                        </td>
                        <td style="border-right:1px solid;  border-color:#E3E3E3;" width="350px">
                          <font style="margin-left:10px;">One V.I.P. Month</font>
                        </td>
			<td style="border-right:1px solid;  border-color:#E3E3E3;" width="150px">
                          <font style="margin-left:10px;"><a href="http://www.paypal.com/" target="_blank" style="color:#000000; text-decoration:none;">PayPal</a></font>
                        </td>
			<td style="border-right:1px solid;  border-color:#E3E3E3;" width="119">
                          <font style="margin-left:10px;">USD 11.99</font>
                        </td>			
		</tr>
		</tbody></table>
      </div>
	        <div><img src="http://wwwstatic.megaupload.com/images/acc_bl1.png" alt="" width="719" height="12"></div>

	  <br><br><font style="margin-left:55px; color:#6C6C6C;">Some other text...</font><br><br>   
  
  </div>
  
  
  
  
<div class="clear"></div> <br> <br>
<br><br>
</div> 
</div> 
<!-- Left Panel End -->