<ul id="prod_nav"> 
<li><span class="navbarsize awesome active">Item 1</span></li> 
<li><a class="navbarsize awesome" href="#">Item 2</a></li> 
<li><a class="navbarsize awesome" href="#">Item 3</a></li> 
<li><a class="navbarsize awesome red" href="#">Item 4 ></a></li> 
</ul> 

<h1 class="productTitle">Semi-Dedicated Web Hosting</h1> 
<div id="site-container"> 

<!-- Left Panel Start -->
<div id="site-full"> 
<div style="width: 570px; float: left;"> 
<h2 style="font-size: 22px;">Sit back and relax while we take your site to the next level.</h2> 
<p>There is... <em>a thing</em> ... for ... <strong> a thing ...</strong></p> 

<br> 
<div style="text-align: center; clear: both; font-size: 20px; line-height: 35px;">Get Started Today! <strong>$35.00/mo</strong><br>

<a href="#" class="awesome xlarge green" rel="nofollow">Sign Up Now ›</a></div>


<p>
  <%= link_to image_tag('https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'), :action => 'checkout' %>
</p>
<div class="clear"></div> <br> <br>
<br><br>
</div> 
</div> 
<!-- Left Panel End -->

<!-- Right Panel Start -->
<div style="width: 338px; float: right;">

	<div id="features" class="shared_box" style="border: 1px solid #ff8202;">
		<div style="background: #ff9501">Advantages...</div> 
		<table cellpadding="0" cellspacing="0" class="orange"> 
		<tbody>

		<tr>
		<td style="border: 0;"><span class="tip" alt="store.">Disk Space</span></td>
		<td style="border: 0;">60 GB</td>
		</tr> 

		<tr>
		<td>OC-48 Backbone Connection</td>
		<td><%= image_tag "orange_tick.png", :alt => 'T-Signals.com' %></td>

		</tr> 
		</tbody>
		</table> 
	</div> 
 
	 <div style="text-align: center;"> 
		 <a href="#" class="awesome large orange" rel="nofollow">View More Features ›</a>&nbsp; 
		 <a href="#" class="awesome large red" rel="nofollow">Sign Up Now ›</a> 
		 <br><br> 
                 <%= image_tag "moneyback.jpg", :alt => 'T-Signals.com', :width => "115" %>
                 <%= image_tag "price_freeze.png", :alt => 'T-Signals.com'%>
	 </div> 
 </div>
 <!-- Right Panel End -->