<h1 class="productTitle">Why sign up?</h1> 
<div id="site-container"> 

<!-- Left Panel Start -->
<div id="site-full"> 
<div style="width: 700px; float: left;"> 
  <p>T-Signals.com le brinda los datos m&aacute;s significativos para permitirle realizar sus inversiones de forma m&aacute;s segura...</p>

  <p>Al registrarse y formar parte de nuestra comunidad tendr&aacute; acceso a un bajo precio de estos datos...</p>

  <p>T-Signals.com está evolucionando continuamente y si usted es un usuario registrado, será el primero en aprovechar las ventajas de estar bien informado.</p>

  <%=  link_to "Sign Up", {:controller => "users", :action => "new"}, :class => "awesome xlarge red", :rel => "nofollow" %>
<div class="clear"></div> <br> <br>
<br><br>
</div> 
</div> 
<!-- Left Panel End -->